# -------------------------------------------------------------------- #
# Let << {{ make_sudo_user }} >> do any sudo operations
# -------------------------------------------------------------------- #

{{ make_sudo_user }}  ALL=(ALL)       ALL

# -------------------------------------------------------------------- #
