
[defaults]

# with host-key-checking ansible acquire lock on ".known_hosts" for every
# host execution which will effectively serialize the actions -- ouch
host_key_checking = False

# too many connection failures with such high setting
# forks = 128

[ssh_connection]

# The path to use for the ControlPath sockets. This defaults to
# "%(directory)s/ansible-ssh-%%h-%%p-%%r", which is different from the
# default OpenSSH setting.
#control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r

control_path = ~/.ssh/%%h.%%p.%%r

