# -------------------------------------------------------------------- #
# Let << {{ nonroot_user }} >> do any sudo operations
# -------------------------------------------------------------------- #

{{ nonroot_user }}  ALL=(ALL)       ALL

# -------------------------------------------------------------------- #
