# -------------------------------------------------------------------- #
# Let {{ nonroot_user }} do software installations, start and stop services
# -------------------------------------------------------------------- #

{{ nonroot_user }}  ALL=SOFTWARE, SERVICES, SERVICES2

# -------------------------------------------------------------------- #
